* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  margin: 25px;
}

.container{
  width: 100%;
	max-width: 1200px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 48%;
  max-width: 580px;
}

@media (max-width: 600px) {
  .col {
    width: 100%;
  }
}


blockquote,.card{
	line-height: 2
}

.card {
  padding: 20px;
  border: 1px solid lightgray;
}

pre{
	margin: 5px;
}

.row{
	margin-bottom: 0;
}



footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}